.s24-canty-kessler-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.s24-canty-kessler-content {
  gap: 32px;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.s24-canty-kessler-nav-bar {
  width: 100%;
  height: 80px;
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: center;
}
.s24-canty-kessler-rectangle1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  position: absolute;
}
.s24-canty-kessler-group1 {
  top: 15px;
  left: 50px;
  width: 486px;
  height: 62px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
.s24-canty-kessler-ellipse1 {
  top: -28px;
  left: -28px;
  width: 106px;
  height: 103px;
  position: absolute;
}
.s24-canty-kessler-text {
  top: 9px;
  left: 82px;
  color: rgb(255, 255, 255);
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: italic;
  text-align: left;
  font-family: "Fira Sans";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s24-canty-kessler-group3 {
  top: 28px;
  right: 75px;
  width: 250px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s24-canty-kessler-text001 {
  color: rgb(255, 255, 255);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: "Poppins";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s24-canty-kessler-text002 {
  top: 0px;
  left: 84px;
  color: rgb(255, 255, 255);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s24-canty-kessler-text003 {
  top: 0px;
  color: rgb(255, 255, 255);
  right: 7px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s24-canty-kessler-content1 {
  gap: 80px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.s24-canty-kessler-main-content {
  gap: 32px;
  display: flex;
  align-items: flex-start;
}
.s24-canty-kessler-content2 {
  gap: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.s24-canty-kessler-oarticle {
  gap: 32px;
  width: 800px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.s24-canty-kessler-blog-info {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.s24-canty-kessler-heading {
  gap: 16px;
  width: 800px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.s24-canty-kessler-text007 {
  color: rgb(24, 26, 42);
  height: auto;
  font-size: 36px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: "Work Sans";
  font-weight: 600;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.s24-canty-kessler-short-info {
  gap: 24px;
  display: flex;
  align-items: center;
}
.s24-canty-kessler-aauthor {
  gap: 8px;
  display: flex;
  align-items: center;
}
.s24-canty-kessler-image {
  width: 28px;
  height: 28px;
  border-radius: 28px;
}
.s24-canty-kessler-text008 {
  color: rgb(42, 44, 61);
  height: auto;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: "Work Sans";
  line-height: 20px;
  letter-spacing: 0em;
}
.s24-canty-kessler-text009 {
  color: rgb(105, 106, 117);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Work Sans";
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.s24-canty-kessler-image1 {
  width: auto;
  height: 462px;
  align-self: stretch;
  border-radius: 12px;
}
.s24-canty-kessler-para {
  gap: 10px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.s24-canty-kessler-para1 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.s24-canty-kessler-text010 {
  color: rgb(59, 60, 74);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  text-align: left;
  line-height: 32px;
  letter-spacing: 0em;
}
.s24-canty-kessler-para2 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.s24-canty-kessler-text013 {
  color: rgb(59, 60, 74);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  text-align: left;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
}
.s24-canty-kessler-text015 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text017 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text019 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text021 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text023 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text025 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text027 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text029 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text031 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text033 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text035 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text037 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text039 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text041 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text043 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text045 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text047 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text049 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text051 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text053 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text055 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text057 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text059 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text061 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text063 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text065 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text067 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text069 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text071 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text073 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text075 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text077 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text079 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text081 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text083 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text085 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text087 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text089 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text091 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text093 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text095 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text097 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text099 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text101 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text103 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text105 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text107 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text109 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text111 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text113 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text115 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text117 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text119 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text121 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text123 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text125 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text127 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text129 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text131 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text133 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text135 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text137 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text139 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text141 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text143 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text145 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text147 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text149 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text151 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text153 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text155 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text157 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text159 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text161 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text163 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text165 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text167 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text169 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text171 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text173 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text175 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text177 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text179 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text181 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text183 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text185 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text187 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text189 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text191 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text193 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text195 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text197 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text199 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text201 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text203 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text205 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text207 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text209 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text211 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text213 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text215 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text217 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text219 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text221 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text223 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text225 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text227 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text229 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text231 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text233 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text235 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text237 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text239 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text241 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text243 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text245 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text247 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text249 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text251 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text253 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text255 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text257 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text259 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text261 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text263 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text265 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text267 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text269 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text271 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text273 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text275 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text277 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text279 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text281 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text283 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text285 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text287 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text289 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text291 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text293 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text295 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text297 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text299 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text301 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text303 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text305 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text307 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text309 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text311 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text313 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text315 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text317 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text319 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text321 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text323 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text325 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text327 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text329 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text331 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text333 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text335 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text337 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text339 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text341 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text343 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text345 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text347 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text349 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text351 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text353 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text355 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text357 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text359 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text361 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text363 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text365 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text367 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text369 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text371 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text373 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text375 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text377 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text379 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-text380 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
}
.s24-canty-kessler-quote {
  gap: 32px;
  display: flex;
  padding: 32px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(232, 232, 234, 1);
  border-style: solid;
  border-width: 0 0 0 4px;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(246, 246, 247, 1);
}
.s24-canty-kessler-text381 {
  color: rgb(24, 26, 42);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 32px;
}
.s24-canty-kessler-text384 {
  color: rgb(59, 60, 74);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  text-align: left;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
}
.s24-canty-kessler-image2 {
  width: auto;
  height: 462px;
  align-self: stretch;
  border-radius: 12px;
}
.s24-canty-kessler-text393 {
  color: rgb(59, 60, 74);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  text-align: left;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
}
.s24-canty-kessler-para3 {
  gap: 16px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.s24-canty-kessler-text397 {
  color: rgb(59, 60, 74);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  text-align: left;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
}
.s24-canty-kessler-oconclusion {
  gap: 48px;
  width: 800px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.s24-canty-kessler-para4 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.s24-canty-kessler-text401 {
  color: rgb(24, 26, 42);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: "Work Sans";
  font-weight: 600;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.s24-canty-kessler-text402 {
  color: rgba(0, 0, 0, 0.47);
}
.s24-canty-kessler-footer {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
  background-color: rgba(33, 37, 41, 1);
}
.s24-canty-kessler-contents {
  top: 90px;
  right: 66px;
  width: 386px;
  height: 238px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.s24-canty-kessler-text410 {
  color: rgb(255, 255, 255);
  font-size: 25px;
}
.s24-canty-kessler-text411 {
  font-family: "Fira Sans";
}
.s24-canty-kessler-text413 {
  color: rgb(255, 255, 255);
  text-align: center;
}
.s24-canty-kessler-contents1 {
  top: 100px;
  left: 114px;
  width: 386px;
  height: 238px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.s24-canty-kessler-text425 {
  color: rgb(255, 255, 255);
}
.s24-canty-kessler-text426 {
  font-size: 24px;
}
.s24-canty-kessler-text428 {
  color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
}
.s24-canty-kessler-image3 {
  width: 398px;
  height: 318px;
  object-fit: cover;
}
@media(max-width: 1200px) {
  .s24-canty-kessler-ellipse1 {
    left: -22px;
    bottom: -113px;
  }
  .s24-canty-kessler-contents1 {
    width: 309px;
  }
}
@media(max-width: 767px) {
  .s24-canty-kessler-ellipse1 {
    left: -50px;
  }
  .s24-canty-kessler-text {
    left: 40px;
  }
  .s24-canty-kessler-group3 {
    right: 0px;
    bottom: 0px;
  }
  .s24-canty-kessler-text002 {
    top: 0px;
    left: 86px;
  }
  .s24-canty-kessler-content1 {
    width: 562px;
  }
  .s24-canty-kessler-oarticle {
    width: 626px;
  }
  .s24-canty-kessler-heading {
    width: 100%;
  }
  .s24-canty-kessler-text007 {
    width: 100%;
  }
  .s24-canty-kessler-oconclusion {
    width: 626px;
  }
  .s24-canty-kessler-contents {
    right: 0px;
    width: 283px;
    align-items: center;
  }
  .s24-canty-kessler-contents1 {
    left: 0px;
    width: 296px;
    align-items: center;
  }
  .s24-canty-kessler-text425 {
    color: rgb(255, 255, 255);
  }
  .s24-canty-kessler-text426 {
    font-size: 24px;
  }
  .s24-canty-kessler-text428 {
    color: rgb(255, 255, 255);
    width: 60%;
  }
  .s24-canty-kessler-image3 {
    width: 40%;
    height: auto;
    padding-left: 0px;
  }
}
@media(max-width: 500px) {
  .s24-canty-kessler-nav-bar {
    height: 106px;
  }
  .s24-canty-kessler-rectangle1 {
    height: 106px;
  }
  .s24-canty-kessler-group1 {
    top: 18px;
    right: -52px;
  }
  .s24-canty-kessler-ellipse1 {
    top: -32px;
    left: -43px;
    width: 106px;
    height: 98px;
  }
  .s24-canty-kessler-text {
    top: 7px;
    left: 50px;
  }
  .s24-canty-kessler-group3 {
    top: var(--dl-space-space-fourunits);
    right: 20px;
    width: 250px;
    height: 44px;
  }
  .s24-canty-kessler-text002 {
    top: 0px;
    right: 116px;
    margin: auto;
  }
  .s24-canty-kessler-content1 {
    width: 100%;
    height: 3711px;
  }
  .s24-canty-kessler-content2 {
    width: 500px;
    height: 3638px;
  }
  .s24-canty-kessler-oarticle {
    width: 500px;
    height: 3465px;
    padding-left: 10px;
  }
  .s24-canty-kessler-contents {
    top: 111px;
    right: 4px;
    width: 187px;
    height: 171px;
  }
  .s24-canty-kessler-text413 {
    font-size: 12px;
  }
  .s24-canty-kessler-contents1 {
    font: 12px;
    width: 222px;
  }
  .s24-canty-kessler-text428 {
    color: rgb(255, 255, 255);
    font-size: 12px;
  }
}
