.s24-young-worlds-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.s24-young-worlds-content {
  gap: 32px;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.s24-young-worlds-nav-bar {
  width: 100%;
  height: 80px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
}
.s24-young-worlds-rectangle1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  position: absolute;
}
.s24-young-worlds-group1 {
  top: 15px;
  left: 50px;
  width: 486px;
  height: 62px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
.s24-young-worlds-ellipse1 {
  top: -28px;
  left: -28px;
  width: 106px;
  height: 103px;
  position: absolute;
}
.s24-young-worlds-text {
  top: 9px;
  left: 82px;
  color: rgb(255, 255, 255);
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: italic;
  text-align: left;
  font-family: "Fira Sans";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s24-young-worlds-group3 {
  top: 28px;
  right: 75px;
  width: 250px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s24-young-worlds-text01 {
  color: rgb(255, 255, 255);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: "Poppins";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s24-young-worlds-text02 {
  top: 0px;
  left: 84px;
  color: rgb(255, 255, 255);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s24-young-worlds-text03 {
  top: 0px;
  color: rgb(255, 255, 255);
  right: 7px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s24-young-worlds-content1 {
  gap: 80px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.s24-young-worlds-main-content {
  gap: 32px;
  display: flex;
  align-items: flex-start;
}
.s24-young-worlds-content2 {
  gap: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.s24-young-worlds-oarticle {
  gap: 32px;
  width: 800px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.s24-young-worlds-blog-info {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.s24-young-worlds-heading {
  gap: 16px;
  width: 800px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.s24-young-worlds-text07 {
  color: rgb(24, 26, 42);
  height: auto;
  font-size: 36px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: "Work Sans";
  font-weight: 600;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.s24-young-worlds-short-info {
  gap: 24px;
  display: flex;
  align-items: center;
}
.s24-young-worlds-aauthor {
  gap: 8px;
  display: flex;
  align-items: center;
}
.s24-young-worlds-image {
  width: 28px;
  height: 28px;
  border-radius: 28px;
}
.s24-young-worlds-text08 {
  color: rgb(42, 44, 61);
  height: auto;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: "Work Sans";
  line-height: 20px;
  letter-spacing: 0em;
}
.s24-young-worlds-text09 {
  color: rgb(105, 106, 117);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Work Sans";
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.s24-young-worlds-image1 {
  width: auto;
  height: 462px;
  align-self: stretch;
  border-radius: 12px;
}
.s24-young-worlds-text10 {
  color: rgb(59, 60, 74);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  text-align: left;
  line-height: 32px;
  letter-spacing: 0em;
}
.s24-young-worlds-text11 {
  color: #3b3c4a;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-transform: none;
  text-decoration: none;
}
.s24-young-worlds-text12 {
  font-size: 24px;
}
.s24-young-worlds-text13 {
  color: #3b3c4a;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-transform: none;
  text-decoration: none;
}
.s24-young-worlds-para {
  gap: 10px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.s24-young-worlds-para1 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.s24-young-worlds-text14 {
  color: rgb(59, 60, 74);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  text-align: left;
  line-height: 32px;
  letter-spacing: 0em;
}
.s24-young-worlds-text17 {
  color: #3b3c4a;
  line-height: 32px;
}
.s24-young-worlds-text20 {
  color: #3b3c4a;
  line-height: 32px;
}
.s24-young-worlds-image2 {
  width: auto;
  height: 462px;
  align-self: stretch;
  border-radius: 12px;
}
.s24-young-worlds-para2 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.s24-young-worlds-text24 {
  color: rgb(59, 60, 74);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  text-align: left;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
}
.s24-young-worlds-text26 {
  color: #3b3c4a;
  line-height: 32px;
}
.s24-young-worlds-text30 {
  color: rgb(24, 26, 42);
  height: auto;
  flex-grow: 1;
  font-size: 24px;
  font-style: italic;
  text-align: left;
  line-height: 32px;
  letter-spacing: 0em;
  background-color: rgb(217, 217, 217);
}
.s24-young-worlds-text31 {
  color: rgb(59, 60, 74);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  text-align: left;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
}
.s24-young-worlds-oconclusion {
  gap: 48px;
  width: 800px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.s24-young-worlds-para3 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.s24-young-worlds-text39 {
  color: rgb(24, 26, 42);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: "Work Sans";
  font-weight: 600;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.s24-young-worlds-text40 {
  color: rgba(0, 0, 0, 0.47);
}
.s24-young-worlds-footer {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
  background-color: rgba(33, 37, 41, 1);
}
.s24-young-worlds-contents {
  top: 90px;
  right: 66px;
  width: 386px;
  height: 238px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.s24-young-worlds-text41 {
  color: rgb(255, 255, 255);
  font-size: 25px;
}
.s24-young-worlds-text42 {
  font-family: "Fira Sans";
}
.s24-young-worlds-text44 {
  color: rgb(255, 255, 255);
  text-align: center;
}
.s24-young-worlds-contents1 {
  top: 100px;
  left: 114px;
  width: 386px;
  height: 238px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.s24-young-worlds-text56 {
  color: rgb(255, 255, 255);
}
.s24-young-worlds-text57 {
  font-size: 24px;
}
.s24-young-worlds-text59 {
  color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
}
.s24-young-worlds-image3 {
  width: 398px;
  height: 318px;
  object-fit: cover;
}
@media(max-width: 1200px) {
  .s24-young-worlds-contents1 {
    width: 309px;
  }
}
@media(max-width: 767px) {
  .s24-young-worlds-group3 {
    right: 0px;
    bottom: 0px;
  }
  .s24-young-worlds-text02 {
    top: -1px;
    left: 83px;
  }
  .s24-young-worlds-content1 {
    width: 100%;
  }
  .s24-young-worlds-main-content {
    width: 100%;
  }
  .s24-young-worlds-content2 {
    width: 100%;
  }
  .s24-young-worlds-oarticle {
    width: 500px;
  }
  .s24-young-worlds-heading {
    width: 100%;
  }
  .s24-young-worlds-image1 {
    height: auto;
  }
  .s24-young-worlds-image2 {
    height: auto;
  }
  .s24-young-worlds-oconclusion {
    width: 100%;
  }
  .s24-young-worlds-para3 {
    width: 100%;
  }
  .s24-young-worlds-contents {
    right: 0px;
    width: 283px;
    align-items: center;
  }
  .s24-young-worlds-contents1 {
    left: 0px;
    width: 296px;
    align-items: center;
  }
  .s24-young-worlds-text56 {
    color: rgb(255, 255, 255);
  }
  .s24-young-worlds-text57 {
    font-size: 24px;
  }
  .s24-young-worlds-text59 {
    color: rgb(255, 255, 255);
    width: 60%;
  }
  .s24-young-worlds-image3 {
    width: 40%;
    height: auto;
    padding-left: 0px;
  }
}
@media(max-width: 500px) {
  .s24-young-worlds-nav-bar {
    width: 100%;
    height: 58px;
  }
  .s24-young-worlds-group3 {
    top: var(--dl-space-space-fourunits);
    right: 20px;
    width: 250px;
    height: 44px;
  }
  .s24-young-worlds-text02 {
    top: 0px;
    right: 116px;
    margin: auto;
  }
  .s24-young-worlds-contents {
    top: 111px;
    right: 4px;
    width: 187px;
    height: 171px;
  }
  .s24-young-worlds-text44 {
    font-size: 12px;
  }
  .s24-young-worlds-contents1 {
    font: 12px;
    width: 222px;
  }
  .s24-young-worlds-text59 {
    color: rgb(255, 255, 255);
    font-size: 12px;
  }
}
