.s24-lidforss-crispr-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.s24-lidforss-crispr-content {
  gap: 32px;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.s24-lidforss-crispr-nav-bar {
  width: 100%;
  height: 80px;
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: center;
}
.s24-lidforss-crispr-rectangle1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  position: absolute;
}
.s24-lidforss-crispr-group1 {
  top: 15px;
  left: 50px;
  width: 486px;
  height: 62px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
.s24-lidforss-crispr-ellipse1 {
  top: -28px;
  left: -28px;
  width: 106px;
  height: 103px;
  position: absolute;
}
.s24-lidforss-crispr-text {
  top: 9px;
  left: 82px;
  color: rgb(255, 255, 255);
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: italic;
  text-align: left;
  font-family: "Fira Sans";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s24-lidforss-crispr-group3 {
  top: 28px;
  right: 75px;
  width: 250px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.s24-lidforss-crispr-text001 {
  color: rgb(255, 255, 255);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: "Poppins";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s24-lidforss-crispr-text002 {
  top: 0px;
  left: 84px;
  color: rgb(255, 255, 255);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s24-lidforss-crispr-text003 {
  top: 0px;
  color: rgb(255, 255, 255);
  right: 7px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: "Poppins";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s24-lidforss-crispr-content1 {
  gap: 80px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.s24-lidforss-crispr-main-content {
  gap: 32px;
  display: flex;
  align-items: flex-start;
}
.s24-lidforss-crispr-content2 {
  gap: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.s24-lidforss-crispr-oarticle {
  gap: 32px;
  width: 800px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.s24-lidforss-crispr-blog-info {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.s24-lidforss-crispr-heading {
  gap: 16px;
  width: 800px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.s24-lidforss-crispr-text007 {
  color: rgb(24, 26, 42);
  height: auto;
  font-size: 36px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: "Work Sans";
  font-weight: 600;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.s24-lidforss-crispr-short-info {
  gap: 24px;
  display: flex;
  align-items: center;
}
.s24-lidforss-crispr-aauthor {
  gap: 8px;
  display: flex;
  align-items: center;
}
.s24-lidforss-crispr-image {
  width: 28px;
  height: 28px;
  border-radius: 28px;
}
.s24-lidforss-crispr-text008 {
  color: rgb(42, 44, 61);
  height: auto;
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-family: "Work Sans";
  line-height: 20px;
  letter-spacing: 0em;
}
.s24-lidforss-crispr-text009 {
  color: rgb(105, 106, 117);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Work Sans";
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.s24-lidforss-crispr-image1 {
  width: auto;
  height: 462px;
  align-self: stretch;
  border-radius: 12px;
}
.s24-lidforss-crispr-para {
  gap: 10px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.s24-lidforss-crispr-text010 {
  color: rgb(24, 26, 42);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: "Work Sans";
  font-weight: 600;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.s24-lidforss-crispr-para1 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.s24-lidforss-crispr-text011 {
  color: rgb(59, 60, 74);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  text-align: left;
  line-height: 32px;
  letter-spacing: 0em;
}
.s24-lidforss-crispr-text015 {
  color: #3b3c4a;
  line-height: 32px;
}
.s24-lidforss-crispr-image2 {
  width: auto;
  height: 462px;
  align-self: stretch;
  border-radius: 12px;
}
.s24-lidforss-crispr-text018 {
  color: rgb(24, 26, 42);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: "Work Sans";
  font-weight: 600;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.s24-lidforss-crispr-text021 {
  color: rgb(59, 60, 74);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  text-align: left;
  line-height: 32px;
  letter-spacing: 0em;
}
.s24-lidforss-crispr-text023 {
  color: #3b3c4a;
  line-height: 32px;
}
.s24-lidforss-crispr-text027 {
  color: rgb(24, 26, 42);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: "Work Sans";
  font-weight: 600;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.s24-lidforss-crispr-text028 {
  color: rgb(59, 60, 74);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  text-align: left;
  line-height: 32px;
  letter-spacing: 0em;
}
.s24-lidforss-crispr-image3 {
  width: auto;
  height: auto;
  align-self: stretch;
  border-radius: 12px;
}
.s24-lidforss-crispr-text031 {
  color: rgb(24, 26, 42);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: "Work Sans";
  font-weight: 600;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.s24-lidforss-crispr-para2 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.s24-lidforss-crispr-text034 {
  color: rgb(59, 60, 74);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  text-align: left;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
}
.s24-lidforss-crispr-text037 {
  color: rgb(24, 26, 42);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: "Work Sans";
  font-weight: 600;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.s24-lidforss-crispr-text040 {
  color: rgb(59, 60, 74);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  text-align: left;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
}
.s24-lidforss-crispr-text042 {
  color: #3b3c4a;
  line-height: 32px;
}
.s24-lidforss-crispr-quote {
  gap: 32px;
  display: flex;
  padding: 32px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(232, 232, 234, 1);
  border-style: solid;
  border-width: 0 0 0 4px;
  border-radius: 12px;
  background-color: rgba(246, 246, 247, 1);
}
.s24-lidforss-crispr-text046 {
  color: rgb(24, 26, 42);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 32px;
}
.s24-lidforss-crispr-text049 {
  color: rgb(24, 26, 42);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: "Work Sans";
  font-weight: 600;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.s24-lidforss-crispr-text052 {
  color: rgb(59, 60, 74);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  text-align: left;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
}
.s24-lidforss-crispr-text054 {
  color: #3b3c4a;
  line-height: 32px;
}
.s24-lidforss-crispr-text057 {
  color: #3b3c4a;
  line-height: 32px;
}
.s24-lidforss-crispr-oconclusion {
  gap: 48px;
  width: 800px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.s24-lidforss-crispr-para3 {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.s24-lidforss-crispr-text059 {
  color: rgb(24, 26, 42);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: "Work Sans";
  font-weight: 600;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.s24-lidforss-crispr-link {
  color: rgba(0, 0, 0, 0.47);
  width: 100%;
}
.s24-lidforss-crispr-footer {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
  background-color: rgba(33, 37, 41, 1);
}
.s24-lidforss-crispr-contents {
  top: 90px;
  right: 66px;
  width: 386px;
  height: 238px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.s24-lidforss-crispr-text082 {
  color: rgb(255, 255, 255);
  font-size: 25px;
}
.s24-lidforss-crispr-text083 {
  font-family: "Fira Sans";
}
.s24-lidforss-crispr-text085 {
  color: rgb(255, 255, 255);
  text-align: center;
}
.s24-lidforss-crispr-contents1 {
  top: 100px;
  left: 114px;
  width: 386px;
  height: 238px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.s24-lidforss-crispr-text097 {
  color: rgb(255, 255, 255);
}
.s24-lidforss-crispr-text098 {
  font-size: 24px;
}
.s24-lidforss-crispr-text100 {
  color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
}
.s24-lidforss-crispr-image4 {
  width: 398px;
  height: 318px;
  object-fit: cover;
}
@media(max-width: 1200px) {
  .s24-lidforss-crispr-ellipse1 {
    left: -22px;
    bottom: -113px;
  }
  .s24-lidforss-crispr-contents1 {
    width: 309px;
  }
}
@media(max-width: 767px) {
  .s24-lidforss-crispr-ellipse1 {
    left: -50px;
  }
  .s24-lidforss-crispr-text {
    left: 40px;
  }
  .s24-lidforss-crispr-group3 {
    right: 0px;
    bottom: 0px;
  }
  .s24-lidforss-crispr-text002 {
    top: -1px;
    left: 83px;
  }
  .s24-lidforss-crispr-content1 {
    width: 100%;
    height: auto;
  }
  .s24-lidforss-crispr-main-content {
    width: 100%;
    height: auto;
  }
  .s24-lidforss-crispr-content2 {
    width: 100%;
    height: auto;
  }
  .s24-lidforss-crispr-oarticle {
    width: 576px;
    height: auto;
  }
  .s24-lidforss-crispr-heading {
    width: 100%;
  }
  .s24-lidforss-crispr-image1 {
    width: 100%;
    height: auto;
  }
  .s24-lidforss-crispr-oconclusion {
    width: 548px;
    height: 554px;
  }
  .s24-lidforss-crispr-contents {
    right: 0px;
    width: 283px;
    align-items: center;
  }
  .s24-lidforss-crispr-contents1 {
    left: 0px;
    width: 296px;
    align-items: center;
  }
  .s24-lidforss-crispr-text097 {
    color: rgb(255, 255, 255);
  }
  .s24-lidforss-crispr-text098 {
    font-size: 24px;
  }
  .s24-lidforss-crispr-text100 {
    color: rgb(255, 255, 255);
    width: 60%;
  }
  .s24-lidforss-crispr-image4 {
    width: 40%;
    height: auto;
    padding-left: 0px;
  }
}
@media(max-width: 500px) {
  .s24-lidforss-crispr-nav-bar {
    height: 106px;
  }
  .s24-lidforss-crispr-rectangle1 {
    height: 106px;
  }
  .s24-lidforss-crispr-group1 {
    top: 18px;
    right: -52px;
  }
  .s24-lidforss-crispr-ellipse1 {
    top: -32px;
    left: -43px;
    width: 106px;
    height: 98px;
  }
  .s24-lidforss-crispr-text {
    top: 7px;
    left: 50px;
  }
  .s24-lidforss-crispr-group3 {
    top: var(--dl-space-space-fourunits);
    right: 20px;
    width: 250px;
    height: 44px;
  }
  .s24-lidforss-crispr-text002 {
    top: 0px;
    right: 116px;
    margin: auto;
  }
  .s24-lidforss-crispr-oarticle {
    width: 100%;
  }
  .s24-lidforss-crispr-image1 {
    width: 100%;
    height: auto;
  }
  .s24-lidforss-crispr-contents {
    top: 111px;
    right: 4px;
    width: 187px;
    height: 171px;
  }
  .s24-lidforss-crispr-text085 {
    font-size: 12px;
  }
  .s24-lidforss-crispr-contents1 {
    font: 12px;
    width: 222px;
  }
  .s24-lidforss-crispr-text100 {
    color: rgb(255, 255, 255);
    font-size: 12px;
  }
}
