:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-color-secondary-50: rgba(246, 246, 247, 1);
  --dl-size-size-maxwidth: 1400px;
  --dl-color-default-white: rgba(255, 255, 255, 1);
  --dl-color-secondary-100: rgba(232, 232, 234, 1);
  --dl-color-secondary-400: rgba(151, 152, 159, 1);
  --dl-color-secondary-500: rgba(105, 106, 117, 1);
  --dl-color-secondary-600: rgba(59, 60, 74, 1);
  --dl-color-secondary-800: rgba(24, 26, 42, 1);
  --dl-color-secondary-900: rgba(20, 22, 36, 1);
  --dl-radius-radius-round: 50%;
  --dl-color-theme1-primary: rgba(75, 107, 251, 1);
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.BodytextSm-14Regular1 {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.AMainArticleText {
  font-size: 20px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-transform: none;
  text-decoration: none;
}
.Headingh2Semibold {
  font-size: 30px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 600px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.textBaseRegular {
  font-size: 16px;
  font-style: normal;
  font-family: Plus Jakarta Sans;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.ArticleMainText {
  font-size: 20px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-transform: none;
  text-decoration: none;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Headingh1Semibold {
  font-size: 36px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 600px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.ArticlequoteRegular {
  font-size: 24px;
  font-style: italic;
  font-family: Source Serif Pro;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.Bodyb5Medium {
  font-size: 14px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 500px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.BodytextSm-14Regular {
  font-size: 14px;
  font-style: normal;
  font-family: Inter;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.ArticlePOfficial {
  font-size: 20px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-transform: none;
  text-decoration: none;
}
.textLgSemiBold {
  font-size: 18px;
  font-style: normal;
  font-family: Plus Jakarta Sans;
  font-weight: 600px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.ArticlelgRegular {
  font-size: 20px;
  font-style: normal;
  font-family: Source Serif Pro;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.Bodyb5Regular {
  font-size: 14px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.Bodyb3Regular {
  font-size: 18px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Bodyb4Medium {
  font-size: 16px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 500px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.Bodyb4Regular {
  font-size: 16px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.Headingh4Semibold {
  font-size: 20px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 600px;
  font-stretch: normal;
  letter-spacing: 0em;
}
.Headingh3Semibold {
  font-size: 24px;
  font-style: normal;
  font-family: Work Sans;
  font-weight: 600px;
  font-stretch: normal;
  letter-spacing: 0em;
}
